<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://imageloader-mvc.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>imageloader-mvc.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>imageloader-mvc</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$imageloader-mvc</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ImageLoaderContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:imageloader.database.windows.net,1433;Initial Catalog=ImageLoader;User ID=atarason@imageloader;Password=lotos!99!" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:imageloader.database.windows.net,1433;Initial Catalog=ImageLoader;Integrated Security=False;User ID=atarason@imageloader;Password=lotos!99!;Connect Timeout=30;Encrypt=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ImageLoaderContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:imageloader.database.windows.net,1433;Database=ImageLoader;User ID=atarason@imageloader;Password=lotos!99!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ImageLoaderContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:imageloader.database.windows.net,1433;Initial Catalog=ImageLoader;User ID=atarason@imageloader;Password=lotos!99!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>